.w-900{
    font-weight: 900;
}
.w-300{
    font-weight: 300;
}
.w-400{
    font-weight: 400;
}
.w-500{
    font-weight: 500;
}
.bg-black{
    background-color: #000;
    color: #fff;
}
.radius-5{
    border-radius: 5px;
}
.decorated{
    text-decoration: underline;
}
.btns  .bg-black{
    max-width: 170px;
}
/* #procurement { */
    /* position:absolute; */
        /* width: 100%; */
        /* top: 113px; */
        /* padding-top: 113px; */
/* } */
 /* .space{ */
    /* margin-bottom: 120px; */
/* min-height: 113px; */
 /* } */
#sec-nav.proc{
    position: fixed;
    width: 100%;
    z-index: 100;
    /* box-shadow: 5px 5px 25px #cfcfcf; */
    box-shadow: 3px 3px 11px #cfcfcf85;
}
#sec-nav.proc .inner .menu{
padding: 5px 0px;
}
#sec-nav.proc .menu ol{
    grid-template-columns: repeat(5, auto);
    justify-content: start;
    justify-items: start;
    grid-gap: 30px;
}
#sec-nav-proc .menu ol li {
height: 37px;
}
#sec-nav.proc .menu ol li{
width: 100% !important;
text-align: left;
}
#sec-nav.proc .menu ol li {
height: 37px;
}
#sec-nav.proc .menu ol li a {
    margin-right: auto;
}
#procurement .home-heading, #procurement .right-home-text{
display: none
}
#procurement .store-boxes{
    margin-top: -50px;
}
#procurement section{
    max-width: 1265px;
    margin: auto;
    padding: 50px;
}
.side-head{
    font-size: 24px;
        font-weight: 600;
        width: 80%
}
.side-p{
    font-size: 15px;
    font-weight: 300;
}
section.bg-gray{
    background-color: silver;
}
.grid-box{
position: relative;
    width: 100%;
    padding-top: 150%;
    /* background: linear-gradient(180deg, #0000006b, transparent); */
    background: #ddd;
    border-radius: 10px;
    font-size: 19px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
h5.main{
    /* font-size: 40px !important; */
    font-size: 40px ;
}
.main-desc{
    font-size: 21px;
    font-weight: 400;
    margin-top: -17px 
}
h5.main-head{

font-size: 70px;
    letter-spacing: -6px;
    font-weight: 400;
    font-family: "Roboto";
    color: #000;
    margin-bottom: 20px;
}
h5.main-head span {
    font-weight: 200;
    display: inline-block;
}
.arch17com h5.main-head{
font-size: 100px ;
letter-spacing: -3px;
}
.sec-head{
margin: 0px 0 35px;
    font-size: 16px;
    font-weight: 600;
    text-align:center
}

h5.main-head:nth-child(2){
line-height: 15px;
margin-bottom: 5px;
}
#products-grid .image-text{
position: absolute;
top: 35px;
width: 100%;
text-align: center;
}
#procurement-slider{
    position: relative;
}
#procurement-slider button{
    position: absolute;
    bottom: 50%;
}
#procurement-slider button.next, #procurement-slider button.previuos{
font-size: 2.5rem;
font-weight: 900
}
#procurement-slider button.next {
    right: -12px;
    
}
#procurement-slider button.previuos {
    left: -12px;
}
div{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.slide-img{
    /* background-color: black; */
    color: #fff;
    width: 100%;
    padding-top: 46%;
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.slide p{
    color: #000 !important;
    top: 100%;
    display: block;
    font-size: 2rem;
}
#procurement-timeline .ant-timeline-item-head-custom{
background-color: transparent;
}
#procurement-timeline .ant-timeline-item {
    height: 180px;
}
#procurement-timeline .ant-timeline-item-tail{
    border-color: #000;
    border-width: 3px;
}
#procurement-timeline .ant-timeline-item-content{
    padding: 0 20px;
}
.timelinedot{
width: 19px;
height: 19px;
background-color: #000;
border-radius: 50%;
margin: 0 10px;
}
.section-box{
    margin:20px 0;
}
.section-box p:last-child{
    color: #6c6c6c;
    padding: 5px 40px;
}
#inner-grid{
    color: #fff;
}
#products-grid > h5, section > h5{
    font-size: 24px;
    margin-bottom: 15px;
    font-weight: 600;
}
p.second-p{
    font-size: 14px;
        font-weight: 400;
        width: 450px !important;
}
.dwnld{
    font-size: 18px;
}

#procurement .ant-row{
/* row-gap: 100px !important; */
row-gap: 50px !important;
}
.slide p {
    font-size: 14px;
    margin-top: 25px;
    width: 100%;
    display: block;
    text-align: center;
}
.slide p:last-child{
    margin-top: 0;
}
#procurement .ant-timeline {
    max-width: 650px;
    margin: auto;
    padding-bottom:55px;
}
.box-icon{
    width:50px;
    margin:15px auto;

}
.sellers{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    justify-content: stretch;
}
.seller{
    width: 100%;
    padding-top: 30%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.form-wrapper{
    max-width: 650px;
    margin: auto;
}

#start-project p.head{
    font-size: 40px !important;
    color: #000000;
    font-weight: 500;
    text-align: center;
    margin: auto;
}
#start-project p.desc{
    width: 710px;
    margin: auto;
    text-align: center;
        height: 76px;
        font-size: 21px;
        line-height: 35px;
        color: #000000;
        font-weight: 300;
        text-align: center;
}

        #sec-head,
#start-project, #overview, #products-grid, #features, #procurement-slider, #procurement-timeline, 
                #sec-head
{
    padding-top: 120px !important;
}

#pagehead{
padding-top: 100px !important;
}
.grid-box {
    position: relative;
}

.downloadcloud{
    position: absolute;
    width: 47px;
    height: 27px;
    background-color: #f5f5f5;
    color: #000 !important;
    bottom: 20px;
    right: 20px;
    display: none;
    text-align: center;
    /* display: grid; */
    align-items: center;
    border-radius: 3px;

}
.grid-box:hover .downloadcloud {
    display: grid;
}
@media screen and (max-width:768px) {
    .ant-select-item-option-content{
        grid-template-columns: auto auto !important;
    }
    #procurement{
        padding: 12px;
    }
        #start-project,
        #overview,
        #sec-head,
        #products-grid,
        #features,
        #procurement-slider,
        #procurement-timeline {
            padding-top: 10px;
        }
    #procurement .store-logo{
            padding-top: calc(100% - 12px);
                width: calc(100% - 12px);
                height: unset;
                margin: 0 auto 12px;
    }
        .ant-carousel .slick-dots li button{
            border: 5px solid #000;
        }
    #sec-nav.proc{
        display: none;
    }
    #procurement section{
        padding: 0;
        margin-bottom: 50px;
    }
    h5.main-head{
        font-size: 39px;
        letter-spacing: -3px
    }
    .main-desc{
        margin-top: 0;
        font-size: 15px;
        font-weight: 600;
    }
    #inner-grid  .ant-row, #procurement .ant-row{
        row-gap: 12px !important;
    }
    p.w-90{
        font-size: 14px;
    }
    .side-image{
        /* width:92vw !important; */
        /* height: 92vw !important; */
    }

    .w-90 , p.w-50, .w-80, .side-head{
        width:100% !important;

    }
    .sec-head{
        font-size: 14px;
        }
    .side-head{
        font-size: 16px;
    }
    #products-grid>h5,
    section>h5{
        font-size: 16px;
    }

    p.second-p{
        font-size: 14px;
        font-weight: 300;
    }
#procurement-slider button.next,
#procurement-slider button.previuos{
    font-size: 13px;
    font-weight: 900;
    background: #dddddd91;
    width: 25px;
    height: 25px;
    border-radius: 50%
}
.procurement-wrapper #pagehead{
padding-top: 0 !important;
}

.procurement-wrapper .side-image{
    height: 250px !important;
    width: unset !important;
}
#procurement-slider button{
    bottom:62%;
}
#procurement-slider, #features , #procurement-timeline , #start-project{
    padding-top:10px !important;
}
#procurement #products-grid{
    padding-top: 50px !important;
}
#procurement section#pagehead{
    margin-bottom: 25px !important;
}
#procurement-slider button.next{
    right: 5px;
}
.top-52{
    margin-top: -52px;
}
#procurement-slider{
margin-bottom: 80px !important;
}
.side-head{
    font-size: 19px;
}
#procurement-slider button.previuos{
    left: 5px;
}
.section-box p:last-child{
    padding: 0px ;
}
#procurement #sec-head{
    padding-top: 0 !important;
}
h5.main{
    font-size: 24px !important;
}
#procurement-timeline .ant-timeline-item-content{
    padding: 0px ;
}
#start-project p.head{
    font-size: 17px !important;
}
#start-project p.desc{
    font-size: 16px;
    width: 100%;
    height: auto;
}
.form-wrapper .ant-row{
    grid-gap: 10px !important;
}
.form-wrapper .ant-form-item{
    margin-bottom: 10px;
}
}