.sticky-editor{
    position: fixed;
    top: 65px !important;
    box-shadow:0 3px 6px -2px rgb(0 0 0 / 7%);
    width: 1250px;
    transition: all ease-in 200ms;
    border-left-color: none;
}
.stopped{
    position: fixed;
    top:0;
    max-width: 420px;
    top: 65px !important;

}
#project-page .row>*{
    padding-right: 0 !important;
}
figure{
    margin: 1rem 0 !important;
}
figure.image{
    width: 100%;
}
#project-page .rdw-editor-toolbar{
 display: none;   
}
.roboto{
    font-family: "Roboto";
}
.bolder{
    font-weight: bold;
}
.text-underline{
    text-decoration: underline;
}
.rdw-editor-toolbar{
    z-index: 100;
    padding: 20px;
    border-left-color: transparent;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom: 1px solid #F1F1F1;

}
.text-editor .rdw-option-wrapper {
    min-width: 16px !important;

}
.ck-editor__main p {
    font-weight: 300;
    font-size: 16px;
    /* font-size: 1.2rem; */
}
#project-page .cover-container{
        margin-top: 3px;
        border-top-left-radius: 18px;
        border-top-right-radius: 18px;
}
.static-bar{
    position: fixed;
    width: 100%;
    z-index: 10;
}
.addprojectwrapper{
    margin:auto;
    overflow-x: hidden;
}
.wrapper-inner{
    max-width: 1250px;
    margin:auto;
}
.edit-step-title{
    cursor: pointer;
}

.addprojectwrapper .custom-content{
    min-height: 100vh;
    background-color: #fff;
    margin: 80px auto;
    font-family: "Roboto";
    position: relative;
}
.step1{
position: relative !important;
}
.ant-back-project{
    height: 29px;
    width: 30px;
    right: -70px;
    bottom: -25px;
    border-radius: 4px;
    background-color: rgb(228, 30, 21);
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 17px;
    background-color: #000;
    position: absolute
}
.owner_link{
 font-size: 1rem;
padding: 0 3px;
font-family: "Roboto"
}
.owner_link:hover{
text-decoration: underline !important;
}
.step1 .ck.ck-toolbar .ck.ck-toolbar__separator{
    display: none;
}

.addprojectwrapper .ant-steps {
    justify-content: start !important;
    grid-gap: 15px;
}
.addprojectwrapper .ant-steps-item-title{
    font-size: 16px;
    font-weight: 600;
    font-family: "Roboto";

}
.addprojectwrapper .steps-action{
    /* position: absolute;
    top: -92px;
    right: 100px;
    width: 0; */

        position: fixed;
        top: 80px;
        width: 0;
        z-index: 12;
        left: 80%;
}
#rolestep .editable-cell-value-wrap{
height: 40px !important;
padding-top: 6px !important;
font-size: 17px !important;
font-weight:500 !important;
}
#rolestep .editable-row:hover{
    height: 40px !important;
}
#rolestep .ant-select{
    font-size: 17px !important;
    font-weight:500 !important;
}
.d-img{
    width: 45px;
    height: 45px;
    background: #ddd;
    margin: 5px 5px 5px 0;
    font-size: 1.8rem;
    text-align: center;
    font-weight: 900;
    font-family: "Roboto";
    padding-top: 8px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    
}
.ant-modal-body .d-img{
    padding-top: 0;
    border-radius: 50%;
    background-color:#ddd !important;
    padding-top: 2.5px;
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-size: contain !important;
    margin-top: 10px;
}
.designers-row{
    cursor: pointer;
}
.designers-row span{
    margin: 10px;
    font-size: 1.1rem;
    font-family: "Roboto";
    color: #242424;
    font-weight: 900;
}
.scrollable{
    min-width: 50px;
}
.designers-modal .ant-modal-body{
    max-height: 450px;
    overflow-y: scroll;
}
.wraprow{
    padding-left: 70px;
    text-align: left;
}
.d-info {
    vertical-align: -webkit-baseline-middle;
    display: inline-block;
}
.d-info span{
    font-size: 1.5rem;
    font-weight: 600;
}
.wraprow .d-img{
    width: 84px;
    height: 84px;
    font-size: 3.2rem;
    border: 1px solid #c3c3c3;
    border-radius: 50%;
    vertical-align: middle;
}
.d-professions {
    display: grid;
    grid-gap: 5px;
    margin-top: 6px;
    grid-template-columns: repeat(8, auto);

}
.d-loc {
    font-size:.7rem;
    color: #707070;
}
.d-loc svg{
    vertical-align:text-top;
    font-size: .6rem;
    margin-right: 3px;
    margin-top: 1px;
}

.d-professions p{
font-size: .7rem ;
padding: 3px;
height: 18px;
font-weight: 500;
background-color: #ddd;
margin-bottom: 5px !important;
}
.wraprow span{
    font-size: 16px;
    font-weight: 600;
    font-family: "Roboto";
    padding: 0 15px;
    vertical-align:super;
}
.b-type{
    font-size: .8rem;
    color: #707070;
}
.b-count{
    font-size: .65rem;
    margin: 2px 0;
}
.b-count span{
    counter-reset: #000;
    font-weight: 600;
    font-size: .7rem;
    padding-right: 5px;
}
.designers-section{
    min-height: 500px;
    margin-bottom: 120px;
}
.brands-sections{
    padding-bottom: 25px;
}
.checkbox-tag{
    position: absolute;
}
.checkbox-tag input[type="checkbox"]{
    width: 290px;
    height: 450px;

}
.checkbox-tag .ant-checkbox-inner {
width: 24px;
height: 24px;
font-size: 1rem;
}

.cropper-side{
height: 400px;
width: 100%;
}
.cover-thumbs {
margin-top: 38px;
    display: grid;
    grid-template-columns: repeat(5, 80px);
    height: auto;
    min-height: 80px;
    grid-gap: 15px;
    justify-content: center
}
.cover-thumbs > div{
background-position: center;
background-size: contain;
background-repeat: no-repeat;
background-color: #ddd;
cursor: pointer;
height:80px;
}

.prev{
    overflow: hidden;
    height: 300px;
}
.preview-wrapper-project{
    display: grid;
    grid-template-columns: 300px;
    min-height: 350px !important;
    align-content: center;

}
.prev-btn{
    margin: 0px 8px;
    position: relative;
    left: -157px;
    padding: 5px 15px;
    height: 33.5px;
    background: #afadad;
    color: #fff;
    outline: none;
    border: none;
    border-radius: 2px;
    z-index: 11;
}
.next-btn{
  /* position: absolute;
    right: 0;
    top: -92px;
    background: #e41e15;
    border: none;
    color: #fff;
    outline: none;
    padding: 5px 20px;
    border-radius: 4px;
    font-size: 1rem;
    font-weight: 400;
    z-index: 11;
    top: 80px;  */

    position: fixed;
    right: 13%;
    top: 80px;
    background: #e41e15;
    border: none;
    color: #fff;
    outline: none;
    padding: 5px 20px;
    border-radius: 4px;
    font-size: 1rem;
    font-weight: 400;
    z-index: 11;
}

.project-step-info .ant-form-item-label{
    text-align: left;
}
.project-step-info .form-label{
    font-weight: 600;
    font-size: 17px;
}
.form-label label{
    font-size: 17px;
}
.project-step-info .ant-checkbox-group{
    font-weight: normal;
}


#project-page{
    max-width: 1266px;
    margin: 0 auto 15px;
    font-family: "Roboto";
}
#project-page .location svg{
    vertical-align:auto;
    font-size: .8rem;
    padding: 0 1px;
}
#project-main{
    position: relative;
    /* overflow: hidden; */
    z-index: 10;
}
.project-cover img{
    display: block;
    width: 100%;
}
.project-cover {
    width: 100%;
}

#project-content h6{
    font-size: 1.7rem;
    font-weight: 600;
    font-family: "Roboto";
    padding: 10px 0;
}
.shifted-top{
    margin-top: -80px;
    background-color: #fff;
}
#project-content{
    background-color: #fff;
        margin-top: -80px !important;
        background: #fff;
}
.right-sticky {
    position: relative;
    top:0;
}
#project-content h6{
    padding:25px 0 0 25px;
}
#project-content .location{
    color: #a0a0a0;
    padding: 0 20px;
    font-size: 14px;
    vertical-align: middle;
}
#project-content .location svg{
        font-size: 14px;
        padding: 0 1px;
        margin-bottom: 3px;
        margin-right: 2px
}
.editor-state p{
    font-weight: 500;
    font-size: .85rem;
    font-family: "Roboto";
}
.project-right-side{
    font-family: "Roboto";
}

.project-right-side .designers{
    background-color: #fff;
    min-height:188px;
    height: auto;
    /* max-height:370px; */
    margin: 12px 0 20px 0;
    width: 100%;
    border-radius: 10px;
    border: 1px solid #dedede;
    margin-bottom: 0;
}
.project-right-side .brands{
    margin: 20px 0 0;
    background-color: #fff;
    min-height: 450px;
    border-radius: 10px;
    border: 1px solid #dedede;
}
.brand{
    position: relative;
    min-height: 420px;
}
.slide-footer span{
    vertical-align: middle;
    width: 50px;
    cursor: pointer;
}
#product-tags .product {
padding-bottom: 0 !important;
}

.brands .slide-footer{
    position: absolute;
    bottom: 0px;
    right: 0px;
    font-size: .9rem;
    text-align: right;
    color: #a0a0a0;
    font-weight: 300 !important;
}
.slide-footer span{
    font-size: 1.2rem;
    font-weight: 600;
    color: #242424;
}
.des-btns{
    margin: 10px 0;
}
.des-btns button{
margin-right: 10px;
    padding: 5px 0;
font-size: .70rem;
border: none;
font-family: "Roboto";
}
.des-btns svg{
    font-size: .9rem !important;
    vertical-align: middle;
}
.via{
    font-weight: 600;
}
 .name, .title{
text-transform: capitalize;
}
.brand .name{
    font-size: 17px;
    font-weight: 700;
    text-transform: capitalize;
}
.brand .title {
    font-size: .70rem;
    color: #707070;
    text-transform: capitalize;
}
.des-btns button:first-child{
border: 1px solid #b1b1b1;
border-radius: 5px;
padding:1px 0;
font-size: 16px;
width: 45px;
color: #777777;
}
.designers .name{
    font-size: 17px;
    font-weight: 700;
}
.designers .title {
    color: #747474;
    font-weight: 300;
    font-size: 14px;
    font-family: "Roboto";
}
.des-btns button:last-child{
    background-color: #e41e15;
    width: 90px;
    color: #fff;
    border-radius: 4px;

}

.des-btns button{
height: 29px;
vertical-align: middle;
}
.p-box{
    width:100%;
    padding-top: 100%;
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 4px;
}
.sky{
    position: absolute;
    right: 0;
    left: 0;
    top:0;
    width: 100%;
    bottom: 0;
    background-color: rgba(214, 214, 214, 0.151);
}
.socials >div{
    width: 50px;
    height: 50px;
    margin: 0px auto;
    text-align:center;
    font-size:1.6rem;
    border-bottom: 1px solid rgb(238, 238, 238);
    margin-bottom: 5px;
    padding-top: 5px;
    background-color: #fff;
}
.socials > div:last-child{
    border-bottom: none;
    margin-bottom: 0;
}
.socials {
    color: #242424;
    z-index: 5;
    padding: 10px;
    padding-bottom: 0;

}

.socials svg{
    margin: auto;
}
.raduis{
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}
#product-tags{
background-color: #fff;
min-height: 400px;
}
#product-tags .products{
    max-width: 1300px ;
    margin: auto;
    padding: 30px 0;
}
#product-tags .p-img{
    margin-bottom: 0;
}
#product-tags .product{
margin-bottom: 0;
}
.lower-info{
    background-color: #fff;
    padding: 10px 0 5px 0 ;
}
 p.head{
    font-size: 22px;
    font-weight: 600;
}
.red {
    color: red;
}
.brand-slide-logo{
    width: 80px;
    height: 80px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 50%;
    padding-top: 8px;
}
.brand-slide-logo p{
    font-family: "Roboto";
    font-size: 3.25rem;
    font-weight: 600;
    text-align: center

}
#project-page .rdw-editor-toolbar{
padding: 5px;
}
#project-page .rich-editor .DraftEditor-editorContainer{
    padding-top: .7rem ;
    padding-left: 0;
    padding-right: 0;
}
#project-layout .lightgray-footer{
    /* display: none; */
    min-height: 150px !important;
}
.custom-content .ck.ck-toolbar{
    border-top: 1px solid #0000000d !important;
    position: fixed;
    width: 100%;
    max-width: 1250px;
    top: 125px;
}
.custom-content .ck-editor__main{
position: relative !important;
top: 55px !important;
}
#project-page .ck.ck-toolbar.ck-toolbar_grouping{
display: none;
}
#project-page .ck-content p{
    font-size: 16px;
    font-weight: 300;
}
#project-page .ck-content{
margin-top: 25px;
}
.cover-container > div {
background-position: top  !important;
    background-size: contain !important;
    background-repeat: no-repeat !important;

}
#similar-projects{
    max-width: 1300px;
    margin: 50px auto;
    min-height: 600px;
}

.project-image-wrapper{
    overflow: hidden;
}
.project-image{
    width:100%;
    padding-top: 66.6%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    transition: all 600ms ease-in-out;
    transform: scale(1.01);

}
.project-image:hover{
    transform :scale(1.1);
    transform-origin: center;
}
.project-name{
    color: #2e2e2e;
    font-size: 1.05rem;
    font-weight: 600;
    font-family: "georgia";
    height: 40px;
}
.project-cover-footer{
    color: #d1d1d1;
    font-size: .8rem;
}
.project-cover-footer p{
    margin-bottom: 0;
}
/* end of project page styles */
.project-col{
    position: relative;
}
.project-btn{
    position: absolute;
    display: none;
z-index: 5;
    border-radius: 2px;
    color: #fff !important;
    text-transform: uppercase;
    font-weight: 500;
    font-family: "Roboto";
    transition: background 300ms ease-in-out;
    background: #e41e15;
    padding: 5px 15px;
}
.project-edit-btn{
    right: 10px;
    top: 10px;
}
.project-delete-btn{
right:85px;
top: 10px;
}
.innertab .project-col .info{
    border:1px solid #dddddd91
}
.project-btn:hover{
    background: #242424;
    color: #fff !important;
}
.project-col:hover .project-btn{
    display: block;

}
.svprojectbtn{
  height: 30px !important;
  border:none !important;
  color:#fff !important;
  width: 50px !important;
  font-size: 9px !important;
}

.ck-toolbar {
    padding:18px 5px !important;
    background: #fff !important;
    border-bottom:1px solid #dddddd7d !important;
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
}
.ck.ck-editor__main>.ck-editor__editable:not(.ck-focused){
    border-color: transparent !important;
}
.ck-content{
    min-height: 250px;
    line-height: normal !important;
}
.ck.ck-editor__editable:not(.ck-editor__nested-editable).ck-focused{
    border:none !important;
    border-left: none !important;
    box-shadow: none !important;
}
.ck-content p {
    margin-bottom: 0 !important;
}

.custom-mention-item{
        display: grid;
        grid-template-columns: auto auto auto;
        grid-gap: 13px;
        align-items: center
}
.custom-mention-item .avatar{
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border-radius: 50%;
    width: 30px;
    height: 30px;
}
.ck.ck-list__item .ck-button.ck-on{
    background-color: #e41e15 !important;
    color:#fff !important
}
.custom-item-username {
    color: #fff  !important;
}
.ck-content .mention{
background-color: #e41e15 !important;
color: #fff !important;
    padding: 2px 6px;
    font-weight: 660;
    border-radius: 2px;
}
.large{
    font-size: 16px;
}
.arch-color{
    color: #e41e15;
}