#magazine-page{
    font-family: "Roboto";
    min-height: 80vh;
}
#magazine-page .ant-picker-suffix{
color: #000 !important;
}
#magazine-page
.magazine-tabs{
    display: grid;
    grid-template-columns: repeat(5, auto);
    align-items: center;
    height: 40px;
    justify-content: start;
    grid-gap:20px;
    justify-items: start;
  
}

#magazine-page ::placeholder {
    color: #000;
    opacity: 1;
}

#magazine-page :-ms-input-placeholder {
    color: #000;
}
#magazine-page .ant-select-single.ant-select-lg:not(.ant-select-customize-input) .ant-select-selector{
    padding: 0;
}
#magazine-page ::-ms-input-placeholder {
    color: #000;
}
#magazine-page .ReactFlagsSelect-module_flagsSelect__2pfa2{
    padding-bottom: 0;
    color: #000;
}
#magazine-page .ant-select-selection-placeholder{
    color:#000
}

#magazine-page .ant-select-multiple .ant-select-selection-placeholder{
    color: #000;
}
.wide-dropdown{
    min-width: 230px !important;
}
#magazine-page .ReactFlagsSelect-module_selectBtn__19wW7:after {
    border-top: 6px solid #000;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 0
}
#magazine-page .ant-select-multiple .ant-select-selection-placeholder {
    font-size: 13px;
}
#magazine-page .ReactFlagsSelect-module_selectOptionsWithSearch__1W03w{
    min-width: 200px !important
}
#magazine-page .ant-select-lg{
    font-size: 15px;
}
.magazine-tabs.first{
    border-right: 1px solid #ddd;
    text-align: center;
    border-left: 1px solid #ddd;
    justify-items: center;
    padding: 0 10px;
}
.magazine-tabs.sec{
    justify-content: center;
    grid-gap: 20px;
}
.filter-wrapper{
    background-color: #fff;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    z-index: 5;
    box-shadow: 0px 1px 3px #00000009;
}
.magazine-tabs p{
    cursor: pointer;
    margin: 0;
    max-width: 100px;
    transition: all 50ms ease-in-out;
    letter-spacing: 0;
    height: 21px;
    user-select: none;
}
.magazine-tabs p:hover{
    border-bottom: 2px solid #000;
}
.magazine-tabs p.active{
    font-weight: 600;
    letter-spacing: -.1px;
    border-bottom: 2px solid #000;
}

#magazine-page .wrapper{
max-width: 1300px;
margin: auto;
}
#magazine-page .ant-form-item{
    margin: 0 !important;
}
#magazine-page .ReactFlagsSelect-module_selectBtn__19wW7{
border: none;
justify-content: start !important;
grid-gap: 1px;
font-size: 15px !important;
    font-weight: 500
}
#magazine-page .ant-select-clear{
    top: 45%;
    right: 25px !important;
}

.magazine-head{
    color:#505458;
    font-size:36px;
    font-weight: 500;
    padding: 75px  0 5px;
    width: 100%;
}

.magazine-p{
    color: #000;
    font-weight: 100;
    font-size: 21px;
}
.magazine-footer .lightgray-footer{
    min-height: 100px;
}
 .magazine-tag{
    background:#f40000;
    color:#fff;
    /* background:#d9d9d9b0; */
    min-width:100px;
    display:inline-grid;
    min-height:25px;
    grid-gap:10px;
    grid-template-columns:auto 15px;
    justify-items:stretch;
    padding:5px 7px;
    font-weight:900;
    align-items:center;
    border-radius:3px;
 }
 .magazine-tag span:last-child{
    cursor:pointer;
    /* color:#ddd; */
 }
 .tab-head{
    color:#8e8e8e;
 }
 p.tab-head:hover{
    border-bottom:unset !important;
 }
 #magazine-page .filter-wrapper .compressed{
    letter-spacing: -.7px !important;
 }
@media screen and (max-width:768px){
    #magazine-page{
        padding: 16px;
    }
    button#sticky-magazine {
        position: fixed;
        bottom: 31px;
        left: 28px;
        background-color: red;
        color: #fff;
        padding: 5px 9px;
        font-weight: 600;
        border-radius: 4px;
        z-index: 20;
    }
    
    button#sticky-magazine svg {
        transform: rotate(90deg);
        font-size: 1.3rem;
        }
    .magazine-head{
        padding-top: 0;
        font-size: 30px;
        }

    #magazine-page .wrapper{
        padding-top: 20px !important;
    }
    .magazine-p{
        font-size: 18px;   
    }
    button#sticky-filter.top{
        top:106px !important;

    }
    button#sticky-filter.bottom {
        top: unset !important;
        bottom: 16px !important;
    }
    .reset-contry{
        left: 4px !important;
        top: 48px !important;
    }

    button.apply{
        background-color: red;
        color: #fff;
        padding: 5px 15px;
        border-radius: 3px;
        margin-right: 0;
    }
   
 .ant-drawer-header{
    padding: 34px 24px 5px;
    border-bottom: none !important;
 }
 .ant-drawer-title{
    text-align: right;
    font-weight: 900;
    font-size: 13px;;
    text-transform: uppercase;
    text-decoration: underline;

 }

}

