.bold {
 font-weight: 600;
}
.underline {
 text-decoration: underline;
}
img {
 display: block;
 width: 100%;
}
#brand-container {
 max-width: 1350px;
 font-family: "Roboto";
 background-color: #fff;
 margin: auto;
 min-height: 100vh;
 /* padding: 0 60px; */
 border-top: 0;
 /* min-height: 1300px; */
}
#brand-container .ant-tabs-tabpane{
    min-height: 1000px;
}
.brand-cover {
 min-height: 450px;
 border: 1px solid rgb(142 141 141 / 53%);
max-height:450px;
overflow: hidden;
 /* border-top: 0; */
}
#brandcovercropper .cropper-drag-box.cropper-move.cropper-modal{
    background-color: rgba(0, 0, 0, 0.507) !important;
    z-index:500 !important;
}
#brandcovercropper .cropper-modal{
    z-index: 500 !important;
}
#brandcovercropper .cropper-crop-box{
    width:100% !important;
    height:450px !important;
}
.brand-cover .cropper-crop-box{
    width: 99.9% !important;
    height:450px !important;
}
.uplpoadbrandcover, .changebrandcover{
      height: 53px;
    background: #eeeeee5c;
    width: 207px;
    margin-top: 0px;
    margin-left: auto;
}
.uplpoadbrandcover button, .changebrandcover button{
    position: relative;
    width: 100%;
    display: block;
    height: 100%;
    border: 1px dashed #0000000d;
}
.uplpoadbrandcover input, .changebrandcover input{
    opacity: 0;
    position: absolute;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    top: 0;
}
.setbrandcover, .changebrandcover{
        background: red;
    color: #fff;
    /* padding: 9px; */
    position: absolute;
    /* top: 0; */
    right: 10px;
    bottom: 7px;
    /* left: 28px; */
    width: 136px;
    height: 39px;
    font-weight: 600;
    z-index: 600;
}
.brand-profile {
 width: 180px;
 height: 180px;
 border-radius: 50%;
 position: relative;
 top: -90px;
 display: grid;
 justify-content: center;
 align-content: center;
 font-size: 8rem;
 background-color: #e8e8e8;
 color: #8d8d8d;
 font-weight: 600;
 border:3px solid #dddddd82
}
.brand-profile img {
 background: black;
 border-radius: 50%;
}
.brand-profile span {
 text-align: center;
}

.brand-info {
 text-align: left;
}

.brand-info .name {
 font-weight: 600;
 font-size: 1.9rem;
}
.entity,
.location {
 padding: 0 4px;
}
.brand-info .entity {
 font-weight: 600;
 color: #747474;
 font-size: 1rem;
}
.actions-btns {
 padding: 10px 0;
}
.actions-btns button {
 margin-left: 14px;
 border-radius: 3px;
 padding: 5px 24px;
 color: #747474;
 font-size: 0.8rem;
 background-color: transparent;
 border: 1px solid #707070;
}

.actions-btns .follow {
 background-color: #e41e15;
 width:100px;
 color: #fff;
 border: none;
 padding:6.5px 0;
 height:32px;
 font-weight: 600;
}
.followed{
    background-color: #999898 !important; 
}
.actions-btns span {
 display: inline-block;
 margin: -2px 3px;
}
.ant-tabs-nav {
 margin: auto !important;
 color: #00000080;
 font-weight: 400;
 font-size: 1.2rem;
}
.ant-tabs-tab-btn:hover,
.ant-tabs-tab-btn-active:hover {
 color: #747474 !important;
}
.ant-tabs-ink-bar {
 background: #000 !important;
}
.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
 color: #000 !important;
}
#brand-container .ant-tabs-tab:hover{
    color:#000 !important;
}
.overview-tab h6 {
 font-size: 2rem;
 color: #000;
 margin-bottom: 10px;
}
.overview-tab p {
 font-size: 1rem;
 color: #000000;
 font-weight: 500;
}

.product-types .box{
 background: #eaeaea;
 width: 175px;
 height: 175px;
 border-radius: 10px;
 background-position: center;
 background-size: contain;
 background-repeat: no-repeat;   
}
.product-types span{
    font-size: 1rem;
    font-weight: 600;
    display: block;
    text-align: center;
}
.types-row .ant-col-md-4 {
 text-align: center;
}
.types-row span {
 font-weight: 600;
 font-size: 1.1rem;
}
.p-img {
 width: 100%;
 padding-bottom: 100%;
 background-repeat: no-repeat !important;
 background-position: center !important;
 background-size: contain !important;
 margin-bottom: 10px;
}

.prlayer{
  background: #001A71;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    opacity: .02;
    transition: all 350ms ease-in-out !important;

}


.product {
 transition: all 0.3s ease-in;
 padding-bottom: 10px;
 position: relative;
 text-align: left;
}
.product .product-price {
 color: #ff0000;
 padding-left: 8px;
}
.product .product-store {
 color: #000;
 font-weight: 500;
 font-family: "Roboto";
 font-size: 15px;
 padding-left: 8px;
}
.product .product-name {
 text-transform: uppercase;
 font-weight: 300;
 margin-bottom: 20px;
 padding-left: 8px;
}
.product:hover {
 box-shadow: 0px 3px 6px #00000029;
}
.product .plus-icon {
 position: absolute;
 top: 0;
 left: 50%;
 top: 50%;
 transform: translate(-50%, -50%);
 /* font-size: 2rem; */
}
.plus-icon svg {
 width: 80px;
 height: 80px;
 display: inherit;
}
.profile-container {
 width: 80%;
 max-width: 165px;
 margin: 0;
}
#user-settings {
 padding: 100px 0;
}
#user-settings .profile-form {
 max-width: 100%;
}
.count{
    text-align: right;
    font-weight: 300;
}
.count span{
    font-weight: 900;
    padding: 0 7px;
}

.type-item {
    width: 175px;
    height: 175px;
    cursor:grab;
 background: #eaeaea;
     border-radius: 10px;
 background-position: center;
 background-size: contain;
 background-repeat: no-repeat;   
}
.section {
    padding:0 60px
}

.arrow-btn {
    min-width: 25px
}
.arrow-btn svg{
    width: 23px;
    height: 23px;
    font-size: 1rem;
    color: rgb(0, 0, 0);
    border-radius: 50%;
    padding: 2px;
}
#brand-container .ant-tabs-nav{
    width: 100% !important;
}
#brand-container .ant-tabs-nav-wrap{
    justify-content: center !important;
}


#user-settings .profile-container{
    margin: 0 auto;
}